body {
    margin: 0 auto;
    width: 960px;
    background-image: url("../css/img/repeated-square.png");
    background-color: #fff;

}

.header {
    background-color: #eb4e10;
    padding: 20px;
    float: left;
    width: 960px;

}

.logo {
    padding: 10px 20px;
    font-family: Alfa Slab One;
    float: left;
    font-size: 30px;
    color: #fff;
}

.menu {
    padding: 10px 20px;
    float: right;
    position: relative;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    float: left;
    padding: 10px 20px;
    margin: 0 auto;
    
}

.menu a {
    text-decoration: none;
    color: #ffff59;
}

.main {
    width: 960px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

.left {
    width: 40%;
    float: left;
    position: relative;
}

.left h1 {
    font-size: 3.5em;
}

.fp-browse {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffff59;
    border: none;
    display: inline-block;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
}

.right {
    width: 60%;
    float: right;
    padding: 20px 0;
}

.right img {
    width: 100%;
}

.rec-main {
    width: 960px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
    float: left;
}

.rec-left {
    float: left;
    position: relative;
}

.rec-left ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.rec-left li {
    display: inline-block;
    margin: 0 10px;
    width: 25%;
    background-color: #fff;
    vertical-align: top;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    height: 370px;
}

.rec-img {
    width: 100%;
    height: 200px;
}

.rec-button {
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffff59;
    border: none;
    display: block;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    margin: 0 auto;
    width: 100px;
}

.recipe-main {
    width: 960px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
    float: left;
}

.recipe-desc {
    padding: 0 20px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.recipe-img {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.recipe-img img {
    width: 100%;
}